extends layout
block breadcrumbs
  ul
    li
      a(href="/") ../
block content
  h1(class="font-bold text-3xl mb-4") Update Article

  form(id="update" action="/new" class="flex flex-col gap-4")
    input(name="id" value=article.id required type="hidden")

    input(name="title" value=article.title required class="border rounded p-2" placeholder="Title")

    input(name="publishingDate" value=article.publishingDate type="date" required class="border rounded p-2" placeholder="Publishing Date" onfocus="(this.type='date')" onblur="(this.type=this.value?'date':'text')")

    textarea(name="content" required class="border rounded p-2" rows="10" placeholder="Content")= article.content

    button(type="submit" class="border rounded p-2 cursor-pointer w-fit") Update

  <script type="module" src="/edit.js"></script>
