extends layout
block content
  h1(class="font-bold text-3xl mb-4") New Article

  form(id="login" action="/new" class="flex flex-col gap-4")
    input(name="email" type="email" value="user@example.com" required class="border rounded p-2" placeholder="Email")

    input(name="password" type="password" value="1234" required class="border rounded p-2" placeholder="Password")

    button(type="submit" class="border rounded p-2 cursor-pointer w-fit") Login

  script.
    document.querySelector('form[id="login"] button[type="submit"]').addEventListener('click', async (e) => {
      e.preventDefault()
      const formData = new FormData(document.querySelector('form[id="login"]'))
      await fetch(`/login`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          email: formData.get('email'),
          password: formData.get('password'),
        })
      })
      location.replace(`/admin`)
    })
